################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ada.Xamarin.FileStorage.Abstractions/bin
