################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ada.Xamarin.FileStorage.Abstractions/bin
/.vs
/Ada.Xamarin.FileStorage.Abstractions/obj
/Ada.Xamarin.FileStorage.Abstractions/Properties/PublishProfiles
*.user
/Ada.Xamarin.FileStorage.Android/bin/Debug/netstandard2.0
/Ada.Xamarin.FileStorage.Android/obj
/Ada.Xamarin.FileStorage.Abstractions.Tests/bin/Debug/netcoreapp3.0
/Ada.Xamarin.FileStorage.Abstractions.Tests/obj
